/* #quoteSection {
  perspective: 1500px;   
}

.rotateText {
  transform-style: preserve-3d;
  backface-visibility: hidden; 
} */

#quoteSection {
  perspective: 1500px;
}

.rotateText {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform; /* 🔥 add this for smoothness */
}