/* .bordertext{
    font-weight: 500;
    -webkit-text-stroke: 9px #000;
    color: transparent;

}
#tiltDiv{
    display: flex;
    gap: 3vh;
    width: 100%;
   
}
.topheadingtexttiltdiv{
    width: 10vw;
     background-color: red;
}
.topheadingtexttilt{
    font-size: 2vw;
        width: 40vw;

}
.midtilttextdivtext{
    width: 40vw;
}
.lastdivtilttexttext{
    width: 90vw;
    font-size: 2vw;
} */